<div class="dashboard">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" routerLink="/dashboard">Computer database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">


            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <button type="button" class="btn btn-light" (click)="addComputer()">Add ✚</button>
                    <!-- <a class="nav-link" href="#">Add <span class="sr-only">(current)</span></a> -->
                </li>
                &nbsp;&nbsp;&nbsp;
                <li class="nav-item active">
                    <button type="button" class="btn btn-light" (click)="toggleDeleteMode()">Delete ✘</button>
                    <!-- <a class="nav-link" href="#">Delete</a> -->
                </li>
            </ul>

            <span class="navbar-text">
                <form class="form-inline">
                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                    <button class="btn btn-outline-light" type="submit">Delete company
                        ✘</button>
                </form>
            </span>
        </div>
    </nav>



    <div class="data-table">

        <table #dataTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <!-- <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Introduced</th>
                    <th>Discontinued</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let computer of computers">
                    <td>{{ computer.id }}</td>
                    <td>{{ computer.name }}</td>
                    <td>{{ computer.introduced | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ computer.discontinued | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ computer.companyModel?.name }}</td>
                </tr>
            </tbody> -->
        </table>

    </div>



</div>