<div class="dashboard">


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" routerLink="/dashboard">Computer database</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">


            <ul class="navbar-nav mr-auto">
            </ul>

            <span class="navbar-text">
                <form class="form-inline">
                    <button class="btn btn-outline-light" type="submit" (click)="openDeleteCompanyDialog()">Delete
                        company
                        ✘</button>
                </form>
            </span>
        </div>
    </nav>



    <div class="data-table">
        <div class="control-section">
            <ejs-grid #myGrid [dataSource]="datasource" allowPaging="true" allowSorting="true"
                [pageSettings]="pageSettings" [editSettings]="editSettings" (actionComplete)="actionComplete($event)"
                [toolbar]="toolbar" (actionBegin)="actionBegin($event)">
                <!-- <ejs-grid #myGrid [dataSource]="datasource" allowPaging="true" allowSorting="true" allowFiltering="true"
                [pageSettings]="pageSettings" [editSettings]="editSettings" (actionComplete)="actionComplete($event)"
                [toolbar]="toolbar" (actionBegin)="actionBegin($event)"> -->
                <e-columns>

                    <e-column type="checkbox" width="50"></e-column>

                    <e-column field="id" headerText="ID" width="120" isPrimaryKey="true"
                        [validationRules]="customeridrules">
                    </e-column>

                    <e-column field="name" headerText="Name" allowEditing="false" width="120"></e-column>

                    <e-column field="introduced" headerText="Introduced" editType="datepickeredit" [format]="dateFormat"
                        width="120">
                    </e-column>

                    <e-column field="discontinued" headerText="Discontinued" editType="datepickeredit"
                        [format]="dateFormat" width="120">
                    </e-column>

                    <e-column field="companyName" headerText="Company" editType="dropdownedit" width="120"></e-column>

                    <e-column headerText="Manage Records" width="140" [commands]="commands"></e-column>
                </e-columns>
            </ejs-grid>
        </div>

    </div>



</div>